*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
body{
    font-family: monospace;
    padding-top: 58.76px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px 0px;
    background: white; 
    z-index: 10; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1002.34px;
    height: 58.76px;
    padding: 11.14px 100.23px 11.14px 100.23px;
    gap: 43.85px;
}
.nav__logo a{
    font-size: 22px;
    font-weight: 900;
    color:#263238;
    text-decoration: none;
    line-height:17px ;;
}
.nav__links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16.71px;
}
.link a{
    font-family: monospace;
    font-size: 11px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    text-decoration: none;
    color: #4D4D4D;
    
}
.link .nav__btn{
    color: aliceblue;
    background-color: #4CAF4F;
    width: 133.25px;
    height: 36.49px;
    padding: 9.74px 22.27px 9.74px 22.27px;
    border-radius: 2.78px;
    gap: 5.57px;
}
#home{
    display: block;
    width: 1002.34px;
    height: 897.35px;
    justify-content: center;
    align-items: center;
    top: 59px;
    left: 1px;
    gap: 27.84px;
}
.herosection{
    display: block;
    justify-content: center;
    align-items: center;
    width: 1002.34px;
    height:  416.95px;
    padding: 66.82px 100.23px 66.82px 100.23px;
    gap: 72.39px;
    background: #F5F7FA;
}
.frame1{
    display: block;
    width: 457.32px;
    height:192.9px;
    gap: 22.27px;
    list-style: none;
    float: left;
}
.frame1 li h1{
    font-family: monospace;
    font-size: 35px;
    font-weight: 600;
    color: #4D4D4D;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: left;
}
.frame1 li p{
    font-family: monospace;
    font-size: 10px;
    font-weight: 400;
    color: #717171;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 20px;
}
.frame1 li a{
    text-decoration: none;
    color: #F5F7FA;
}
.frame_button{
    display: flex;
    background-color: #4CAF4F;
    align-items: center;
    justify-content: center;
    width: 89.55px;
    height: 36.49px;
    padding: 9.74px  22.27px 9.74px 22.27px;
    border-radius: 2.78px;
    gap: 6.96px

}
.herosection img{
    width: 252.84px;
    height: 299.43px;
    left: 13.51px;

}
.dot {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-top: 30px; 
}

.dot li {
    width: 6.96px; 
    height: 6.96px;
    background-color:  #4CAF4F; 
    border-radius: 50%;
}
.cliens{
    display: block;
    width: 1002.34px;
    height: 132.92px;
    margin-top: 20px;
    padding: 0px 100.23px 0px 100.23px;
    gap: 11.14px;
}
.cliens h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4D;
} 
.cliens p{
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #717171;

}
#logo{
    display: flex;
    list-style: none;
    width: 801.87px;
    height: 68.21px;
    justify-content: space-between;
    align-items: center;
}
#logo li img{
    width: 33.41px;
    height: 33.41px;
    padding: 2.78px 2.78px 2.78px 2.78px;
    border-radius: 5.57px;
}
.Community{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1002.34px;
    height: 84.57px;
    gap: 5.57px
}
.chu{
    display: block;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 400.27px;
    height: 62px
}
.chu li h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4D;
}
.chu li p{
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: center;
    color: #717171;

}
.frame4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1002.34px;
    height: 196.1px;
    padding: 0px, 100.23px, 0px, 100.23px;
    margin-top: 20px;
    gap: 80px;
}
.fram4cnt{
    display: block;
    align-items: center;
    justify-content: center;
    width: 208.12px;
    height: 182.1px;
    list-style: none;
    padding: 16.71px 22.27px 16.71px 22.27px;
    border-radius: 5.57px;
    gap: 5.57px;  
    box-shadow: 0px 1.392138957977295px 2.78427791595459px 0px #ABBED133;  
}
.fram4cnt li{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fram4cnt img{
    width: 45.24px;
    height: 38.98px;

}
.fram4cnt li h1{
    font-size: 19px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    color: #4D4D4D;
}
.fram4cnt li p{
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #717171;
}
#bodypage{
    display: block;
    width: 1002.34px;
    height: 897.35px;
    top: 59px;
    left: 1px;
    gap: 27.84px;
    border: solid black;

}
.ublock{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1002.34px;
    height: 301.4px;
    padding: 0px 100.23px 0px 100.23px;
}
.ublock img{
    width: 307.66px;
    height: 301.4px;
    padding: 36.2px 0px 36.2px 0px;

}
.ublockul{
    display: block;
    width: 460.1px;
    height: 187.9px;
    gap: 22.27px;
    list-style: none;
}
.ublockul li h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}
.ublockul li p{
    font-size: 9.74px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #717171;
    margin-top: 4px;
}
.frame_button2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120.55px;
    height:36.49px;
    padding: 9.74px 22.27px 9.74px 22.27px;
    border-radius: 2.78px;
    gap: 6.96px;
    margin-top: 13px;
    background-color: #4CAF4F;
    text-decoration: none;
    color: #F5F7FA;
}
.thanhtu{
    display: block;
    align-items: center;
    justify-content: space-between;
    width: 1002.34px;
    height: 202.94px;
    padding: 44.55px 100.23px 44.55px 100.23px;
    background-color: #F5F7FA;

}
.nodung{
    display: block;
    width: 350px;
    height: 62px;
    gap: 5.57px;
}
.nodung h1{
    font-size: 25px;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
    color: #4D4D4D;
}
.nodung p{
    font-size: 11px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: #18191F;
}
.slider1{
    background-color: #F5F7FA;
    width: 100%;
    display: flex;
    gap:400px;
    padding: 100px 100px;
}
.page2{
    display: flex;
    justify-content: center;
    gap:70px;
}
.text_page2{
    display: flex;
    flex-direction: column;
    gap:50px;
    padding:70px 170px;
}
.content_icon{
    
    gap:100px;
}
.page3{
    display: flex;
    gap:200px;
    padding:100px 90px;
}
.img_page3{
    display: flex;
    gap:60px;
}
.text_page3{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.page4{
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: center;
    padding:10px 580px;
}
.img_page4{
    display: flex;
    justify-content: center;
    gap:200px;
}
.button_page4{
    justify-content: center;
    border: 1px solid #F5F7FA;
    width: 300px;
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #F5F7FA;
    border-radius: 10px;
}
.button_page4_1{
    display: flex;
    justify-content: center;
    
}
.page4_1{
    display: flex;
    justify-content: center;
    
    gap:260px;
    margin-top: -50px;
}
.page5{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    background-color: #F5F7FA;
    margin-top: 50px;
    padding:60px 600px;
    align-items: center;
}
.text_page5{
    text-align: center;
}
.footer{
    box-sizing: border-box;
    background-color: #263238;
    min-height: 200px;
    display: flex;
}
.contact_footer{
    display: flex;
    flex-direction: column;
    padding: 100px 90px;
}
.img_footer{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.text_footer{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 100px;
    color: white;
}
.text_footer_1{
    display: flex;
    padding-left: 100px ;
}
.input_footer{
    display: flex;
    flex-direction: column;
    gap:20px;
    padding: 100px;
    color: white;
}
.input{
    background-color:#515B60 ;
    border-radius: 6px ;
    width: 300px;
    height: 50px;
    color: white;
    font-size: 17px;
}
.input_email{
    display: flex;
}
